.categories_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: -4rem;
    
    width: var(--container-width-sm);
}

.main_title {
    width: 90%;
    margin: 5rem auto;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.category {
    background-color: #FC4A1A;
    text-align: center;
}


.category_title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .categories_container {
        grid-template-columns: 1fr 1fr;
        width: var(--container-width-md);
        gap: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .categories_container {
        grid-template-columns: repeat(3, 1fr);
        width: var(--container-width-lg);
        gap: 2.5rem;
    }

    .category:hover {
        transform: scale(1.1);
    }

    .category {
        transition: ease 0.5s;
    }
}
