nav {
    background-color: #FC4A1A;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    height: 8vh;
    align-items: center;
    color: white;
}

#check-box {
    display: none;
}

.mobile-menu span {
    text-align: center;
}

.mobile-menu {
    width: 50vw;
    
    position: fixed;
    top: 8vh;
    left: -50vw;
    
    background-color: goldenrod;
    transition: 0.5s ease-out;
    
}


.mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu ul li {
    line-height: 2.5rem;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
}

.categories_li .mobile_categories {
    display: none;
    transition: 1s ease-in-out;
}

.mobile_link {
    color: white;
}

.menu_link {
    color: white;
}

#hamburger-icon {
    font-size: 1.5rem;
    margin-top: 10px;
}

#check-box:checked ~ .mobile-menu {
    left: 0;
    
}



#checkbox2 {
    display: none;
}

#checkbox2:checked + .categories_li .mobile_categories {
    display: block;
}

.links {
    display: flex;
    align-items: center;
   
}


.nav_title {
    font-size: 1.5rem;
    font-weight: bold;
    
}

.navlink_title {
    color: white;
}


.cart {
    font-size: 1.5rem;
    
    background: none;
    color: white;
    transition: 0.3s;
}

.cart span {
    font-size: 1rem;
}

.contact {
    display: none;
    
}

.contact_link {
    color: white;
    font-weight: bold;
}





@media screen and (min-width:600px) {
    .contact {
        display: block;
    }

    .links {
        gap: 5rem;
        margin-right: 5rem;
        
    }

    #hamburger-icon {
        display: none;
    }

    .nav_title {
        margin-left: 5rem ;
    }

    nav {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .contact:hover{
        text-decoration: underline;
    } 
    .cart:hover{
        font-size: 2rem;
        cursor: pointer;
    }
}

