@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --container-width-sm: 90%;
    --container-width-md: 85%;
    --container-width-lg: 75%;
}

body {
    background-color: #4ABDAC;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding-bottom: 2rem;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}